.admin_list {
  margin-top: 25px;
}

.admin_sidebar {
  min-height: 100vh;
  height: 100%;
  background-color: $primary-color-black;
}

.admin_submenu {
  padding:  0;
  margin: 0 0 0 -27px !important;
  display: none;
    .admin_submenu_link {
      @include color-link(#fff);
        //&:hover {
        //  color: $text-color-red;
        //}
    }
}
.admin_submenu_element {
  transition: 0.7s;
  padding: 8px 0 8px 30px;
    &:hover {
      background-color: #8e8e8e;
    }
}
.show {
  display: block !important;
}

.admin_list_element {
  margin:8px 0;
  text-align: left;
  padding: 8px 0 8px 30px;
  transition: 0.7s;
    //&:hover {
    //  background: #8e8e8e;
    //}
}

.admin_list_link {
  position: relative;
  padding: 7px 10px;
  @include color-link(#fff);
  transition: 0.7s;
  //&:hover {
  //  color: $text-color-red;
  //}
    i {
      position: absolute;
      top: 7px;
      left: -13px;
    }
}

.current {
  @include color-link($text-color-red);
  font-weight: 700;
}

.admin_user_box {
  width: 100%;
  justify-content: center;
    .user_photo_box {
      margin-top: 30px;
      background-color: #fff;
      width:150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
    }
}
.admin_exit_link {
  @include color-link($text-color-red);
    &:hover {
      color: #fff !important;
    }
}
.admin_username {
  color: #fff;
}
.admin_content_box {
  padding:15px 20px ;
}
.admin_user_phone {
  width:95% !important;
}

.add_new_phone_btn, remove_phone_btn {
  padding: 10px 16px;
}
.add_new_phone_btn,.new_users_phone {
  margin-bottom: 10px;
}
.remove_phone_btn {
  position: absolute;
  left: -55px;
  top: 0;
  padding: 10px 16px;
}
.admin_user_photo {
  position: absolute;
  width: 100%;
  height: auto;
}
.delete_form_box {
  //margin-top:-55px;
}
.detele_tbn_box {
  margin: -53px 0 0 228px;
}
.edit_btn_box  {
  input {
    position: relative;
    z-index: 15;
    margin-right: 154px

  }
}
.img_responsive {
  width:100%;
  height:auto;
}